{% extends 'django_formset_vuejs/home.html' %}

{% block content %}
    <div id="author-books">
        <div class="jumbotron">
            <h1>Django formsets with Vuejs</h1>
        </div>
        <div class="container">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <input type="hidden" name="author_set-TOTAL_FORMS" v-model="getTotalAuthorForms()"
                       id="id_author_set-TOTAL_FORMS">
                <input type="hidden" name="author_set-INITIAL_FORMS" v-model="getInitialAuthorForms()"
                       id="id_author_set-INITIAL_FORMS">


                <div v-for="(author, author_index) in authors" v-show="author.marked_for_delete !== true">

                    <p v-if="author.id">
                        <input type="hidden"
                               v-model="author.marked_for_delete"
                               v-bind:name="'author_set-' + author.author_formset_index + '-DELETE'"
                               v-bind:id="'id_author_set-' + author.author_formset_index + '-DELETE'">

                        <input type="hidden"
                               v-model="author.id"
                               v-bind:name="'author_set-' + author.author_formset_index + '-id'"
                               v-bind:id="'id_author_set-' + author.author_formset_index + '-id'"
                        >
                    </p>
                    <div class="form-group">
                        <h4>
                            Author
                        </h4>
                        <div class="form-row">
                            <div class="col">
                                <label v-bind:for="'id_author_set-' + author.author_formset_index + '-first_name'">First
                                    name:</label>
                                <input type="text"
                                       v-bind:name="'author_set-' + author.author_formset_index +'-first_name'"
                                       v-model="author.first_name"
                                       v-bind:id="'id_author_set-' + author.author_formset_index + '-first_name'"
                                       class="form-control"
                                >
                            </div>

                            <div class="col">
                                <label v-bind:for="'id_author_set-' + author.author_formset_index + '-last_name'">Last
                                    name:</label>
                                <input type="text"
                                       v-bind:name="'author_set-' + author.author_formset_index +'-last_name'"
                                       v-model="author.last_name"
                                       v-bind:id="'id_author_set-' + author.author_formset_index + '-last_name'"
                                       class="form-control"
                                >
                            </div>
                        </div>
                    </div>

                    <!-- BOOK -->
                    <div>
                        <input type="hidden"
                               v-bind:name="'nested_book-author_set-'+author.author_formset_index+'-book_set-TOTAL_FORMS'"
                               v-bind:id="'id_nested_book-author_set-'+author.author_formset_index+'-book_set-TOTAL_FORMS'"
                               v-model="getTotalBookForms(author_index)">
                        <input type="hidden"
                               v-bind:name="'nested_book-author_set-'+author.author_formset_index+'-book_set-INITIAL_FORMS'"
                               v-bind:id="'id_nested_book-author_set-'+author.author_formset_index+'-book_set-INITIAL_FORMS'"
                               v-model="getInitialBookForms(author_index)">


                        <div v-for="(book, book_index) in author.nested_book"
                             v-show="book.marked_for_delete !== true">

                            <span v-if="book.id">
                                <input type="hidden"
                                       v-model="book.marked_for_delete"
                                       v-bind:name="'nested_book-author_set-'+author.author_formset_index+'-book_set-'+book.book_formset_index+'-DELETE'"
                                       v-bind:id="'id_nested_book-author_set-'+author.author_formset_index+'-book_set-'+book.book_formset_index+'-DELETE'">

                                <input type="hidden"
                                       v-model="book.id"
                                       v-bind:name="'nested_book-author_set-'+author.author_formset_index+'-book_set-'+book.book_formset_index+'-id'"
                                       v-bind:id="'id_nested_book-author_set-'+author.author_formset_index+'-book_set-'+book.book_formset_index+'-id'"
                                >
                            </span>

                            <div class="books-form">
                                <h5>
                                    Book [[getIndexAmongVisibleBooks(author_index, book_index) + 1]]

                                    <span v-show="getTotalVisibleBooks(author_index) > 1">
                                    <a href="" v-on:click="removeBook($event, author_index, book_index)">[X]</a>
                                </span>
                                </h5>

                                <div class="container">
                                    <div class="row">
                                        <div class="form-group col-xs-5">
                                            <label v-bind:for="'id_nested_book-author_set-'+author.author_formset_index+'-book_set-'+book.book_formset_index+'-title'">Title:</label>
                                            <input type="text"
                                                   v-bind:name="'nested_book-author_set-'+author.author_formset_index+'-book_set-'+book.book_formset_index+'-title'"
                                                   v-model="book.title"
                                                   v-bind:id="'id_nested_book-author_set-'+author.author_formset_index+'-book_set-'+book.book_formset_index+'-title'"
                                                   class="form-control"
                                            >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-5">
                                            <label v-bind:for="'id_nested_book-author_set-'+author.author_formset_index+'-book_set-'+book.book_formset_index+'-isbn'">ISBN:</label>
                                            <input type="text"
                                                   v-bind:name="'nested_book-author_set-'+author.author_formset_index+'-book_set-'+book.book_formset_index+'-isbn'"
                                                   v-model="book.isbn"
                                                   v-bind:id="'id_nested_book-author_set-'+author.author_formset_index+'-book_set-'+book.book_formset_index+'-isbn'"
                                                   class="form-control"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="" v-on:click="addNewBook($event,author_index)" role="button"
                           class="btn btn-outline-primary">Add New Book</a>
                    </div>
                </div>
                <hr/>
                <div>
                    <button type="submit" value="Next" class="btn btn-primary btn-lg btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        var authors = [{% for author in authors_formset.forms %}
            {
                id:  {% if not author.id.value %}
                    null
                {% else %}
                    {{ author.id.value }}
                {% endif %},
                author_formset_index: {{ forloop.counter0 }},
                marked_for_delete: false,

                first_name: '{{ author.first_name.value|default_if_none:"" }}',
                last_name: '{{ author.last_name.value|default_if_none:"" }}',

                nested_book: [
                    {% if author.nested_book %}

                        {% for nested_form in author.nested_book.forms %}
                            {
                                id:  {% if not nested_form.id.value %}
                                    null
                                {% else %}
                                    {{ nested_form.id.value }}
                                {% endif %},
                                book_formset_index: {{ forloop.counter0 }},
                                marked_for_delete: false,

                                title: '{{ nested_form.title.value|default_if_none:"" }}',
                                isbn: '{{ nested_form.isbn.value|default_if_none:"" }}',
                            },
                        {% endfor %}
                    {% endif %}
                ],
            },
        {% endfor %}];

        if (authors.length === 0) {
            authors = [
                {
                    author_formset_index: 0,
                    nested_book: [
                        {
                            book_formset_index: 0
                        }
                    ]
                }
            ]
        }
        $(document).ready(function () {
            const v = new Vue({
                delimiters: ['[[', ']]'],
                el: '#author-books',
                data: {
                    authors: authors,
                },
                methods: {
                    // author
                    getInitialAuthorForms: function () {
                        return this.$data.authors.filter(author => !!author.id).length;
                    },
                    getTotalAuthorForms: function () {
                        return this.$data.authors.map(author => author.author_formset_index).reduce((a, b) => a > b ? a : b, 0) + 1;
                    },
                    // books
                    getIndexAmongVisibleBooks: function (author_index, book_index) {
                        return this.$data.authors[author_index].nested_book.filter((book, i) => i < book_index && !book.marked_for_delete).length
                    },
                    getTotalVisibleBooks: function (author_index) {
                        return this.$data.authors[author_index].nested_book.filter(book => !book.marked_for_delete).length;
                    },
                    getInitialBookForms: function (author_index) {
                        return this.$data.authors[author_index].nested_book.filter(book => !!book.id).length;
                    },
                    getTotalBookForms: function (author_index) {
                        var books = this.$data.authors[author_index].nested_book;
                        return books && books.length || 0;
                    },
                    addNewBook: function (event, author_index) {
                        event.preventDefault();
                        const default_new_book = {
                            book_formset_index: this.getTotalBookForms(author_index),
                        };
                        this.$data.authors[author_index].nested_book.push(default_new_book);
                    },
                    removeBook: function (event, author_index, book_index) {
                        event.preventDefault();
                        if (this.$data.authors[author_index].nested_book[book_index].id) {
                            Vue.set(this.authors[author_index].nested_book[book_index], 'marked_for_delete', true);
                        } else {
                            this.$data.authors[author_index].nested_book.splice(book_index, 1)
                        }
                    },
                }
            });
        });

    </script>
{% endblock content %}